bootstrap/cache/services.php

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/tmp/*

node_modules/
vendor/
public/build/
.docker
Dockerfile
docker-compose.yml
.git/
.env
